extends layout

block content
  div(class="row justify-content-center gutter")
    div(class="col-3")
      img(class="w-100" src="/images/darth-vader.png")
  div(class="row justify-content-center gutter")
    h2.headerOne Sorry, an error has occured!
  div(class="row justify-content-center gutter")
    a(href="/") Return to the good side!
