extends layout

block content
    div(class="container-fluid row align-items-center gutter")#Fruit
        div(class="col-md-12 text-center justify-content-center")
            h1(class="headerOne") Fruits
            p(class="col-6 offset-3 faded") Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic. Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.