extends layout

block content
    .container-fluid.meat-section#Meat
        div(class="row gutter")
            div(class="col-md-3 offset-md-1")
                h1.headerOne Meats
                p Spicy jalapeno bacon ipsum dolor amet enim cillum in nulla pig, corned beef tri-tip aliqua sunt laboris ut irure. Fugiat excepteur quis cupidatat minim pork chop. Corned beef velit anim occaecat voluptate frankfurter. Doner velit spare ribs deserunt dolore. Picanha jowl ad biltong aute pastrami elit nisi rump ex kielbasa tenderloin. Filet mignon capicola salami, incididunt ex porchetta kielbasa anim ad drumstick ut eu qui occaecat pork belly. In jowl swine irure mollit frankfurter deserunt pork loin.

            div(class="col-md-8")
                img(class="w-100" src="/images/Meat_Sections.png")

