extends layout

block content
    div(class="container-fluid")#Veggies
        div(class="row col-md-12")
            img(class="col-md-8 veggie-img" src="/images/veggies/asparagus.jpeg")
            div(class="col-md-4")
                img(class="w-100 veggie-img" src="/images/veggies/avocado.jpeg")
                img(class="w-100 veggie-img" src="/images/veggies/carrot.jpeg")
